/Assignment1/nbproject/private/
/Assignment1/build/
/Assignment2/nbproject/private/
/Assignment2/build/
/Assignment2/dist/
/Assignment2_AED/nbproject/private/
/Lab_3_Skeleton/nbproject/private/
/Lab_3_Skeleton/build/
/Lab_3_Skeleton 2/nbproject/private/
/Lab_3_Skeleton 2/build/
/Lab_3_Skeleton 2/dist/
/Lab_3_Skeleton/dist/
/Assignment3/nbproject/private/
/Assignment3/build/
/Assignment3/dist/
/Assignment4/nbproject/private/
/Assignment4/build/
